{% load static %}
<!-- Base template -->
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Chatbot{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Chatbot</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}

        <footer>
            View on <a href="https://github.com/r0hitm/chatbot">GitHub</a>
        </footer>
    </main>
</body>

</html>